<h1>Favorite Course</h1>
<%=  render 'show', user: @user %>
<%= link_to 'new course', new_user_root_path %>

<div class="container">
  <div id="map"></div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>

<script>
debugger
  const pins = <%= raw @roots.to_json(only: [:latitude,:longitude]) %>;

  pins.foreach(pin) => {
     new google.map.Maker({
      position: {lat:pin.latitude lng:pin.longitude},
      map: map
     })
    }
</script>