<h1>New Favorite course</h1>

<div class="container">
  <div id="map"></div>
</div>

<script>
  const currentUserId = <%= current_user.id %>;
</script>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>


