<h1>Favorite course</h1>

<% @favorite_courses.each do |favorite_course| %>
  <p>・Introduction</p>
  <%= favorite_course.introduction %>
  <%= link_to 'edit', edit_favorite_course_path(favorite_course) %>
<% end %>
<div class="container">
  <div id="map"></div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>


