
      <h6 class="text-center mb-4 mt-5">-Weiting member-</h6>
        <table class="table table-hover table-responsive-sm">
        <% if @permits.present? %>
          <% @permits.each do |permit| %>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">
                  <%= image_tag permit.user.get_profile_image(100,100), class: "rounded-circle", style: "width: 50px; height: 50px;" %>
                </th>
                <td>
                  <%= link_to permit.user.name, user_path(permit.user.id) %>
                  <%= link_to '加入許可', group_group_users_path(@group, permit_id: permit.id), method: :post %>
                </td>
              </tr>
            </tbody>
          <% end %>
        <% else %>
          <p class="text-center">No member</p>
        <% end %>
        </table>




