<h1>承認待ち一覧</h1>

<% if @permits.present? %>
  <% @permits.each do |permit| %>
    <%= link_to permit.user.name, user_path(permit.user.id) %>
    <%= link_to '加入許可', group_group_users_path(@group, permit_id: permit.id), method: :post %>
  <% end %>
<% else %>
  <p>承認待ちユーザーいません</p>
<% end %>


