<h1>Welcome to Sightrun</h1>
<h4>このアプリは...</h3>
<h2>「いつまでも元気でいよう！」がテーマの<br>ランニングコミュニティサイトです!</h2>
<h4>
気軽に運動不足を解消できる「ランニング」が始められます。<br>
さらに、ランニングコースの情報を共有して、<br>あなたも知らないその街の良さを知ることができるかも...!<br>
健康的な新しい自分と、知られざるその街の良さを「再発見」しよう！<br>
<br>
・運動不足が気になる方<br>
・いつまでも健康で元気でいたい方<br>
・気軽にダイエット、運動をしたい方<br>
・一人じゃ運動が続かない方<br>
 </h4>


<%= link_to "Sign in", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>
