<div class="jumbotron"></div>
<div class="container-fluid">
  <div class="row justify-content-center h1 mb-5">Welcome to Sightrun</div>
  <div class="row justify-content-center mb-3">このアプリは...</div>
  <div class="row justify-content-center mb-3">
    <div class="font-weight-bold">「いつまでも元気でいよう！」</div>
    が、テーマのランニングコミュニティサイトです!
  </div>
  <div class="row justify-content-center">
    気軽に運動不足を解消できる「ランニング」が始められます。</div>
  <div class="row justify-content-center">
    さらに、ランニングコースの情報を共有して、あなたも知らないその街の良さを知ることができるかも...!</div>
  <div class="row justify-content-center mb-3">
    健康的な新しい自分と、知られざるその街の良さを「再発見」しよう！
  </div>
  <div class="row justify-content-center mb-4">
    ・運動不足が気になる方&emsp;&emsp;
    ・いつまでも健康で元気でいたい方<br>
    ・気軽にダイエット、運動をしたい方&emsp;&emsp;
    ・一人じゃ運動が続かない方<br></div>
  <div class="row justify-content-center mb-5">
    そんな方はぜひ始めてみてください！
  </div>
  <div class="row justify-content-center mb-4">
      <%= link_to "Sign in", new_user_session_path, class: 'nav-link text-success' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-success' %>
  </div>
</div>