<h1>承認待ち一覧</h1>

<% if @permits.present? %>
  <% @permits.each do |permit| %>
    <%= link_to permit.user.name, user_path(permit.user.id) %>
      <% if permit.user.department_id.present? %>
        <%= permit.user.depertment.name %>
      <% end %>
    <%= link_to '加入許可', group_group_user_path(@group, permit_id: permit.id), method: :post %>
  <% end %>
<% else %>
  <p>承認待ちユーザーいません</p>
<% end %>


